* {
  margin: 0;
  padding: 0;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: lightgrey;
}

.helo {
  font-size: 30px;
}